// fonts
$font-family-sans-serif: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// colors
$primary: #4f342b;
$secondary: #c19452;

@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$custom-theme-colors: (
  primary-dark: #3f2922,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// utils
.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-grow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.flex-column-grow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
