// fonts
$font-family-sans-serif: Ubuntu, system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// colors
$primary: #4f342b;
$secondary: #c19452;
$success: #3b7f52;
$info: #2b6f82;
$danger: #9e2b2b;
$light: #f5e9da;
$dark: #3b2b28;

@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';

$custom-theme-colors: (
  primary-dark: #3f2922,
);
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// utils
.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-grow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.flex-column-grow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.animation-shake {
  &:hover {
    animation: shake 0.5s ease-in-out;
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }
}
